In [28]:
import pandas as pd

#Chicago part
chi_data_output = pd.read_csv('C:/Users/13945/Desktop/data mgmt/umai/CHI_DATA_OUTPUT.csv')
all_demo = pd.read_csv('C:/Users/13945/Desktop/data mgmt/umai/all_demo.csv')
all_poverty = pd.read_csv('C:/Users/13945/Desktop/data mgmt/umai/all_poverty.csv')

chi_data_output['house.age'] = 2023 - chi_data_output['YR_BUILT']

def clean_location(location):
    if 'CHI - ' in location:
        return location.split('CHI - ')[1]
    else:
        return location

# Apply the corrected function to the 'LOCATION' column to create the 'cleaned_neighborhood' variable
chi_data_output['neighborhood'] = chi_data_output['LOCATION'].apply(clean_location)

# Check the unique values to confirm the changes
chi_data_output['neighborhood'].unique()

# Filter out the all_poverty and all_demo datasets for 'Chicago' only
all_poverty_chicago = all_poverty[all_poverty['city'] == 'Chicago']
all_demo_chicago = all_demo[all_demo['city'] == 'Chicago']

# Merge the datasets based on 'neighborhood' and 'community'
chi_data_output_merged = chi_data_output.merge(all_poverty_chicago, left_on='neighborhood', right_on='community', how='inner')
chi_data_output_final = chi_data_output_merged.merge(all_demo_chicago, on='community', how='inner', suffixes=('_poverty', '_demo'))

#Add city name
chi_data_output_final['city']= 'Chicago'

# Selecting only the required columns for regression analysis
columns_for_regression = [
    'PRICE', 'SQFT', 'house.age', 'PROP_TYPE', 'PARK_DIST', 'HOSPITAL_D', 'RAIL_DIST', 
    'BUS_COUNTS', 'FnB_COUNTS', 'neighborhood', 'population.density', 'median.age', 'Dominant Race','city'
]
chi_data_final_for_regression = chi_data_output_final[columns_for_regression]

# Checking the final dataframe before regression analysis
chi_data_final_for_regression.head()

,PRICE,SQFT,house.age,PROP_TYPE,PARK_DIST,HOSPITAL_D,RAIL_DIST,BUS_COUNTS,FnB_COUNTS,neighborhood,population.density,median.age,Dominant Race,city
0,139999,2025.422782,109.0,Multi-Family,493,1511,418,56,6,Woodlawn,15747.0,36.5,Black,Chicago
1,154400,1430.000000,125.0,Condo/Co-op,431,1119,763,53,8,Woodlawn,15747.0,36.5,Black,Chicago
2,189000,2025.422782,103.0,Condo/Co-op,302,784,991,61,14,Woodlawn,15747.0,36.5,Black,Chicago
3,449900,2025.422782,113.0,Multi-Family,516,1375,457,59,7,Woodlawn,15747.0,36.5,Black,Chicago
4,674800,2025.422782,1.0,Townhouse,339,1012,603,58,9,Woodlawn,15747.0,36.5,Black,Chicago

In [30]:
# Save the Chicago final dataset to CSV
chi_data_final_for_regression.to_csv('C:/Users/13945/Desktop/data mgmt/umai/chi_final_for_regression.csv', index=False)

In [31]:
#LA part
la_data_output = pd.read_csv('C:/Users/13945/Desktop/data mgmt/umai/LAX_DATA_OUTPUT.csv')
all_demo = pd.read_csv('C:/Users/13945/Desktop/data mgmt/umai/all_demo.csv')
la_data_output['house.age'] = 2023 - la_data_output['YR_BUILT']

#Merge the datasets
la_merged_demo = la_data_output.merge(all_demo, left_on='neighborhood', right_on='community', how='inner')
la_merged_demo['city'] = 'Los Angeles City'

#Preview LA dataset
la_final_dataset = la_merged_demo[columns_for_regression]
la_final_dataset.head()

,PRICE,SQFT,house.age,PROP_TYPE,PARK_DIST,HOSPITAL_D,RAIL_DIST,BUS_COUNTS,FnB_COUNTS,neighborhood,population.density,median.age,Dominant Race,city
0,499000,678.0,102.0,Single Family Residential,2141,2696.080220,596,33,2,Downtown,66111.0,38.2,White,Los Angeles City
1,399000,518.0,102.0,Single Family Residential,2142,2682.737765,581,32,2,Downtown,66111.0,38.2,White,Los Angeles City
2,545000,700.0,103.0,Single Family Residential,1170,3159.389413,918,38,2,Downtown,66111.0,38.2,White,Los Angeles City
3,349000,472.0,53.0,Condo/Co-op,951,540.853238,1453,43,4,Downtown,66111.0,38.2,White,Los Angeles City
4,609900,756.0,128.0,Single Family Residential,1366,1321.823116,753,41,1,Downtown,66111.0,38.2,White,Los Angeles City

In [32]:
# Save the LA final dataset to CSV
la_final_dataset.to_csv('C:/Users/13945/Desktop/data mgmt/umai/lax_final_for_regression.csv', index=False)

In [33]:
# NYC part
nyc_data_output = pd.read_csv('C:/Users/13945/Desktop/data mgmt/umai/NYC_DATA_OUTPUT.csv')
nyc_data_output['house.age'] = 2023 - nyc_data_output['YR_BUILT']

# Merge the datasets
nyc_merged_demo = nyc_data_output.merge(all_demo, left_on='neighborhood', right_on='community', how='inner')

#Add city name
nyc_merged_demo['city'] = 'New York City'

# Select the required columns
nyc_final_dataset = nyc_merged_demo[columns_for_regression]
nyc_final_dataset.head()

,PRICE,SQFT,house.age,PROP_TYPE,PARK_DIST,HOSPITAL_D,RAIL_DIST,BUS_COUNTS,FnB_COUNTS,neighborhood,population.density,median.age,Dominant Race,city
0,1299000,1829.844584,93.0,Multi-Family,1263.640093,515.036326,811.183342,15,2,Brownsville,35804.0,41.0,Black,New York City
1,500000,1152.000000,36.0,Single Family Residential,1099.850227,1500.729108,269.784607,16,0,Brownsville,35804.0,41.0,Black,New York City
2,500000,1152.000000,36.0,Single Family Residential,1099.850227,1500.729108,269.784607,16,0,Brownsville,35804.0,41.0,Black,New York City
3,999995,1829.844584,93.0,Multi-Family,926.835480,588.237766,500.697459,16,1,Brownsville,35804.0,41.0,Black,New York City
4,715000,1144.000000,18.0,Multi-Family,444.426814,978.643172,193.712705,10,3,Brownsville,35804.0,41.0,Black,New York City

In [34]:
# Save the NYC final dataset to CSV
nyc_final_dataset.to_csv('C:/Users/13945/Desktop/data mgmt/umai/nyc_final_for_regression.csv', index=False)

In [35]:
# Combine city csv
chi_final = pd.read_csv('C:/Users/13945/Desktop/data mgmt/umai/chi_final_for_regression.csv')
lax_final = pd.read_csv('C:/Users/13945/Desktop/data mgmt/umai/lax_final_for_regression.csv')
nyc_final = pd.read_csv('C:/Users/13945/Desktop/data mgmt/umai/nyc_final_for_regression.csv')

# Concatenate the datasets
combined_final = pd.concat([chi_final, lax_final, nyc_final], ignore_index=True)

# Checking the final dataframe before regression analysis
combined_final.head()

,PRICE,SQFT,house.age,PROP_TYPE,PARK_DIST,HOSPITAL_D,RAIL_DIST,BUS_COUNTS,FnB_COUNTS,neighborhood,population.density,median.age,Dominant Race,city
0,139999,2025.422782,109.0,Multi-Family,493.0,1511.0,418.0,56,6,Woodlawn,15747.0,36.5,Black,Chicago
1,154400,1430.000000,125.0,Condo/Co-op,431.0,1119.0,763.0,53,8,Woodlawn,15747.0,36.5,Black,Chicago
2,189000,2025.422782,103.0,Condo/Co-op,302.0,784.0,991.0,61,14,Woodlawn,15747.0,36.5,Black,Chicago
3,449900,2025.422782,113.0,Multi-Family,516.0,1375.0,457.0,59,7,Woodlawn,15747.0,36.5,Black,Chicago
4,674800,2025.422782,1.0,Townhouse,339.0,1012.0,603.0,58,9,Woodlawn,15747.0,36.5,Black,Chicago

In [36]:
# Save the combined dataset to a CSV file
combined_final.to_csv('C:/Users/13945/Desktop/data mgmt/umai/combined_final_for_regression.csv', index=False)

In [40]:
#Neighborhood level csv generation
combined_final = pd.read_csv('C:/Users/13945/Desktop/data mgmt/umai/combined_final_for_regression.csv')

# Calculate mean for specified variables
mean_columns = ['SQFT', 'house.age', 'PARK_DIST', 'HOSPITAL_D', 'RAIL_DIST', 'BUS_COUNTS', 'FnB_COUNTS', 'population.density', 'median.age']
means = combined_final.groupby(['city', 'neighborhood'])[mean_columns].mean().reset_index()

# Calculate mode for categorical variables
modes = combined_final.groupby(['city', 'neighborhood']).agg(lambda x: pd.Series.mode(x)[0] if not x.mode().empty else None)[['PROP_TYPE', 'Dominant Race']].reset_index()

# Merge means and modes
neighborhood_level_regression = pd.merge(means, modes, on=['city', 'neighborhood'])

# Calculate mean PRICE
neighborhood_level_regression['average_PRICE'] = combined_final.groupby(['city', 'neighborhood'])['PRICE'].mean().reset_index(drop=True)

#Preview neighborhood level dataset
neighborhood_level_regression.head()

,city,neighborhood,SQFT,house.age,PARK_DIST,HOSPITAL_D,RAIL_DIST,BUS_COUNTS,FnB_COUNTS,population.density,median.age,PROP_TYPE,Dominant Race,average_PRICE
0,Chicago,Armour Square,1523.838924,35.562500,224.312500,1936.875000,837.250000,39.312500,41.062500,15357.0,40.2,Condo/Co-op,Asian,433343.000000
1,Chicago,Auburn Gresham,1740.418779,94.159746,511.818182,4412.763636,3385.145455,34.527273,0.945455,15858.0,39.0,Single Family Residential,Black,254821.709091
2,Chicago,Austin,1810.675315,90.590778,494.968750,2820.791667,1831.302083,42.854167,1.312500,18763.0,36.1,Multi-Family,Black,367839.520833
3,Chicago,Brighton Park,1896.938226,113.946434,587.700000,5057.300000,1703.900000,40.200000,3.500000,15944.0,32.7,Multi-Family,Hispanic or Latino,344390.000000
4,Chicago,Chatham,1669.548117,90.726494,468.379747,3989.493671,1644.936709,32.810127,2.215190,10549.0,42.5,Single Family Residential,Black,245564.392405

In [41]:
# Save the neighborhood-level dataset
neighborhood_level_regression.to_csv('C:/Users/13945/Desktop/data mgmt/umai/neighborhood_level_regression.csv', index=False)